@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Color Variable*/
:root {
  --white: #fff;
  --black: #000;
  --blue: #1765fd;
  --green: #4fcb8d;
  --purple: #5c31d6;
  --gray29: #292d32;
  --gray67: #67748e;
  --grayca: #cad6fe;
  --grayeb: #ebf1ff;
  --grayee: #eee;
  --grayf8: #f8faff;
}

/* Normalize CSS */
div,
main,
ul,
li,
ol,
section,
nav,
a,
button,
input,
header,
footer,
pre,
code,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans KR", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  background: var(--grayf8);
  font-size: 1rem;
  &::-webkit-scrollbar {
    width: 0.8rem;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
abbr {
  text-decoration: none;
}
a {
  text-decoration: none;
}
dialog {
  border: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  & caption {
    display: none;
  }
}

/* 헤더 */
body.--fixed {
  padding-top: 11.1rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
  margin: 1.2rem;
  border-radius: 3rem;
  box-shadow: 0 0 2rem 0.3rem rgba(var(--black), 0.05);
  background-color: var(--white);
  .--fixed & {
    position: fixed;
    top: -15rem;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
    animation: headerFixed 1 0.5s both;
  }
}
@keyframes headerFixed {
  0% {
    top: -15rem;
  }
  100% {
    top: 0;
  }
}

.logo {
  & a {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--gray29);
  }
  & span {
    font-size: 5rem;
    color: var(--gray29);
  }
}
.utility {
  & ul {
    display: flex;
    gap: 1rem;
  }
  & button {
    border: none;
    color: rgba(var(--black), 0.5);
  }
}
.btn-setting abbr {
  animation: btnSetting infinite linear 3s;
}
@keyframes btnSetting {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search-bar {
  opacity: 0;
  width: 0;
  position: relative;
  & span {
    position: absolute;
    left: 2rem;
    top: 50%;
    color: var(--gray29);
    transform: translateY(-50%);
  }
  & input {
    padding: 0 0 0 5rem;
    width: 100%;
    height: 4.8rem;
    border-radius: 4.8rem;
    background: var(--grayf8);
    border: 1px solid var(--grayca);
    color: var(--gray29);
    outline: none;
  }
  &.--active {
    animation: searchShow 1 0.5s both;
  }
}

@keyframes searchShow {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 46rem;
    opacity: 1;
  }
}

/* 메뉴 */
.side-nav {
  display: grid;
  grid-row: 1 / 3;
  gap: 0.4rem;
  width: 30rem;
  border-radius: 0 1.5rem 1.5rem 0;
  background: var(--grayf8);
  transition: 0.4s;
  > ul {
    padding-left: 2rem;
  }
  & button {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.3rem 1.5rem;
    width: 100%;
    box-sizing: border-box;
    color: var(--gray67);
    font-size: 1.4rem;
    transition: 0.4s;
    &.--active,
    &:hover {
      color: var(--gray29);
      & span {
        color: var(--white);
        background: linear-gradient(to bottom, var(--blue), var(--green));
      }
    }
    &.--active {
      font-weight: 700;
      background: var(--white);
      border-radius: 5rem 0 0 5rem;
    }
  }
  & span {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    box-shadow: 0 0 2rem 0.3rem rgba(var(--black), 0.05);
    background: linear-gradient(to bottom, var(--white), var(--white));
    color: var(--gray29);
    transition: 0.4s;
  }
  &.--active {
    margin-left: -30rem;
  }
  & li > ul {
    display: none;
    &.--active {
      display: block;
    }
  }
  .depth2 {
    padding: 1rem 2rem 2rem 4rem;
    & span {
      display: none;
    }
    & button {
      font-size: 1.2rem;
      font-weight: 500;
      gap: 0.5rem;
      &:hover {
        color: var(--green);
      }
    }
  }
  .has-depth {
    position: relative;
    &::after {
      content: "\e5cf";
      position: absolute;
      right: 3.5rem;
      top: 50%;
      transform: translateY(-50%);
      font-family: "Material Symbols Outlined";
      font-size: 2rem;
      transition: 0.4s;
    }
    &.open {
      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
}

/* 기본레이아웃 */
.container {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr min-content;
  min-height: calc(100vh - 15rem);
  padding: 1.5rem 0 0;
  background: var(--white);
}
.contents {
  padding: 0 3rem;
  font-size: 1.6rem;
  line-height: 130%;
}
.footer {
  background: var(--grayeb);
  border: 1px solid var(--grayca);
  border-radius: 2rem;
  padding: 2rem;
  margin: 2rem 3rem 1.2rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--gray29);
  text-align: center;
}

/* 팝업 */
.dialog-service {
  position: absolute;
  left: inherit;
  right: 4rem;
  top: 4rem;
  margin: 0;
  padding: 0;
  width: 35rem;
  box-shadow: 0 0 2rem 0.3rem rgba(var(--black), 0.05);
  border: 1px solid var(--grayee);
  border-radius: 0 0 1rem 1rem;
  transform: translateY(-1rem);
  opacity: 0;
  &[open] {
    animation: appDialog 1 0.5s both;
  }
}
.dialog-service__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 1rem 1rem 0 0;
  background: linear-gradient(to bottom, var(--blue), var(--green));
  & h2,
  & button {
    font-size: 1.3rem;
    color: var(--white);
    font-weight: 700;
  }
}
.dialog-service__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem 1rem;

  & a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: var(--gray29);
    font-size: 1.3rem;
    font-weight: 600;
  }
  & img {
    width: 3rem;
    height: 3rem;
  }
}

@keyframes appDialog {
  0% {
    transform: translateY(-1.5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* 비주얼 */
.index-visual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem;
  border-radius: 2rem;
  height: 23rem;
  background: linear-gradient(to right, var(--blue), var(--green));
  color: var(--white);
  & h2 {
    font-size: 2.6rem;
    font-weight: 700;
    margin: 0 0 2rem;
    & span {
      display: block;
      margin: 0 0 0.5rem;
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
  & p {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.guide-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 2.5rem;
  & li {
    display: grid;
    gap: 1.2rem;
    align-items: flex-start;
    background: var(--white);
    padding: 3rem;
    box-shadow: 0px 0.5rem 2.5rem rgba(202, 214, 242, 0.4);
    border: 1px solid var(--grayeb);
    border-radius: 2rem;
  }
  .btn-more {
    justify-self: start;
  }
}
.guide-list__title {
  display: block;
  color: var(--gray29);
  font-size: 1.8rem;
  font-weight: 600;
}
.guide-list__detail {
  font-size: 1.4rem;
  color: var(--gray67);
  line-height: 140%;
}

.btn-more {
  display: inline-block;
  background-color: var(--purple);
  font-size: 1.4rem;
  padding: 0.8rem 1rem;
  border-radius: 0.7rem;
  color: var(--white);
}

/* 제목 */
.heading {
  color: var(--gray29);
  line-height: 150%;
  font-weight: 800;
  &.large {
    padding: 2rem 0 1rem;
    font-size: 2.6rem;
  }
  &.regular {
    padding: 1rem 0 0.5rem;
    font-size: 2.2rem;
  }
  &.small {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0 0.5rem;
    font-size: 2rem;
    &::before {
      content: "";
      width: 0.5rem;
      height: 0.5rem;
      background-color: var(--green);
    }
  }
  &.xsmall {
    padding: 1rem 0 0.5rem;
    font-size: 1.8rem;
    color: var(--gray67);
  }
}

/* 현황그래프 */
.state-block {
  background: var(--white);
  box-shadow: 0px 0.2rem 1.5rem rgba(0, 0, 0, 0.03);
  border: 1px solid var(--grayeb);
  border-radius: 2rem;
  padding: 2.5rem 2rem;
  margin-bottom: 2.4rem;
}
.state-block__title {
  font-size: 2rem;
  color: var(--gray29);
}
.state-block__detail {
  & li {
    display: grid;
    grid-template-columns: 6rem 1fr;
    gap: 0 1.5rem;
    + li {
      padding-top: 2.2rem;
    }
    > span {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      width: 6rem;
      height: 6rem;
      border-radius: 2rem;
      .blue & {
        background-color: #cdc5ff;
      }
      .green & {
        background-color: #fed8b4;
      }
      .purple & {
        background-color: #ccf0fe;
      }
    }
    > strong {
      font-size: 1.4rem;
      font-weight: 700;
      color: var(--gray29);
    }
  }
}
.bar-graph {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0.3rem;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #e2eafb;
    border-radius: 3rem;
    .blue & {
      background-color: #e2eafb;
    }
    .green & {
      background-color: #e5fff2;
    }
    .purple & {
      background-color: #f3efff;
    }
  }
}
.bar-graph__count {
  position: absolute;
  right: 0;
  top: -2rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--gray29);
}
.bar-graph__data {
  position: absolute;
  left: 0;
  top: 0;
  height: 1rem;
  border-radius: 1rem;
  .blue & {
    background-color: #0d6efd;
  }
  .green & {
    background-color: #28c76f;
  }
  .purple & {
    background-color: #5c31d6;
  }
}

/* 표 */
.table-type1 {
  & th,
  & td {
    border: 1px solid #dee2e6;
    font-size: 1.5rem;
    color: var(--gray29);
    padding: 0.8rem;
    vertical-align: middle;
  }
  & thead {
    font-weight: 700;
    background-color: var(--grayf8);
  }
}

/* 탭메뉴 */
.tab-type1 {
  position: sticky;
  top: 15rem;
  padding: 0.5rem;
  box-shadow: 0px 0.2rem 1.5rem var(--grayeb);
  border-radius: 0.6rem;
  background-color: var(--white);
  & ul {
    display: flex;
  }
  & li {
    flex: 1;
  }
  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.6rem;
    font-size: 1.5rem;
    color: var(--gray29);
    border-radius: 0.6rem;
  }
  .--active {
    background-color: var(--blue);
    color: var(--white);
    font-weight: 700;
  }
}
/* 리스트 */
.list-type1 {
  display: grid;
  gap: 0.8rem;
  margin: 1rem 2rem 2rem 2rem;
  & li {
    list-style-type: square;
    &::marker {
      font-size: 1rem;
    }
  }
}

.card {
  background: var(--white);
  box-shadow: 0px 0.2rem 1.5rem var(--grayeb);
  border-radius: 3rem;
  padding: 3rem;
  margin-bottom: 2.4rem;
}

/* 코드꾸미기 */
.hljs-ln {
  table-layout: fixed;
}
.hljs-ln-numbers {
  user-select: none;
  text-align: center;
  color: #ccc;
  border-right: 1px solid #ccc;
  vertical-align: top;
  width: 2.5rem;
}
.hljs-ln td.hljs-ln-code {
  padding: 2px;
}

.txt-center {
  text-align: center;
}
