:root {
  --white: #fff;
  --black: #000;
  --black00: rgba(0, 0, 0, 0);
  --black005: rgba(0, 0, 0, 0.05);
  --black01: rgba(0, 0, 0, 0.1);
  --black015: rgba(0, 0, 0, 0.15);
  --black03: rgba(0, 0, 0, 0.3);
  --blue: #1765fd;
  --green: #4fcb8d;
  --purple: #5c31d6;
  --red: #fe5957;
  --gray29: #292d32;
  --gray67: #67748e;
  --grayca: #cad6fe;
  --grayca04: rgb(200, 213, 254, 0.4);
  --graycc: #ccc;
  --grayde: #dee2e6;
  --grayeb: #ebf1ff;
  --grayee: #eee;
  --grayf8: #f8faff;
}

$white: var(--white);
$black: var(--black);
$black00: var(--black00);
$black005: var(--black005);
$black01: var(--black01);
$black015: var(--black015);
$black03: var(--black03);
$blue: var(--blue);
$green: var(--green);
$purple: var(--purple);
$red: var(--red);
$gray29: var(--gray29);
$gray67: var(--gray67);
$grayca: var(--grayca);
$grayca04: var(--grayca04);
$graycc: var(--graycc);
$grayde: var(--grayde);
$grayeb: var(--grayeb);
$grayee: var(--grayee);
$grayf8: var(--grayf8);
